@import 'bootstrap/dist/css/bootstrap.min.css';

.searchByName {
    margin: 0px 5px 10px 10px;
    padding-left: 5px
}

.dropDownList {
    position: relative;
    left: 65%;
    padding: 4px;
}

.h2Dashboard {
    padding: 15px;
    background: lavender;
    text-align: center
}

.divDashboard {
    background: aliceblue;
    padding: 13px
}

